*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: white;
}

header{
    background: #7306F0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #eee;
    gap: 2em;
    flex-direction: column;+
}

.second-row-header{
    display: flex;
    gap: 20px;
}


.product-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-image img{
    height: 150px;
    width: auto;
    max-width: 150px;
}

.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.product{
    max-width: 300px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    color: #7306F0;
    
}
header button{
    background: white;
    color: #7306F0;
}
button{
    border-radius: 5px;
    padding: 5px;
    border: none;
    background: #7306F0;
    color: white;
}