*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

header{
    background: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #eee;
    gap: 2em;
    flex-direction: column;
}

.second-row-header{
    display: flex;
    gap: 20px;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}